.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4; /* Color de fondo */
}
/* Estilo del contenedor del artículo */
.article-container {
	width: 300px;
	border: 1px solid #ddd;
	padding: 20px;
	margin: 20px;
	float: right; /* Alinea el contenedor a la derecha */
  }
  
  /* Estilo del título del artículo */
  .article-title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
  }
  
  /* Estilo del precio del artículo */
  .article-price {
	font-size: 16px;
	font-weight: bold;
	color: #e44d26; /* Color naranja para resaltar el precio */
	margin-top: 10px;
  }
  
  /* Estilo del botón de compra */
  .buy-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #4caf50; /* Color verde para el botón */
	color: #fff; /* Color blanco para el texto del botón */
	border: 1px solid #4caf50;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .buy-button:hover {
	background-color: #45a049; /* Cambia el color al pasar el mouse sobre el botón */
  }
  
  /* Estilos del formulario de inicio de sesión */
  .login-form {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .login-form label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
  }
  
  .login-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 16px;
	box-sizing: border-box;
  }
  
  .login-form button {
	background-color: #4caf50; /* Color verde para el botón */
	color: #fff; /* Color blanco para el texto del botón */
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .login-form button:hover {
	background-color: #45a049; /* Cambia el color al pasar el mouse sobre el botón */
  }
  